.activity-card-container {
    @apply m-2 mx-5 max-w-sm bg-blue-100 border border-black rounded-lg shadow-lg transition-transform duration-200 hover:scale-105;

}

.event-image-activity-card {
    @apply rounded-t-lg;
    width: 400px;
    height: 200px;
}

.event-title-activity-card {
    @apply mb-1 text-xl font-semibold tracking-wide text-blue-600 dark:text-blue-300;
}

.event-description-activity-card {
    @apply mb-2 text-base font-medium text-black dark:text-gray-300;
}

.centered-container-activity-card {
    @apply flex justify-center mt-4;
}

.event-detail-link-activity-card {
    @apply w-4/5 inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-full hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-400 mx-auto;
}


.custom-svg-style-activity-card {
    @apply w-3.5 h-3.5;
    margin-inline-start: 0.5rem;
}

